* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url("../Img/big.jpg");
  background-repeat: no-repeat;
background-size: cover;
white-space: normal;
line-height: normal;
position: relative;
padding-bottom: 3px;
min-height: 100vh;
}


.main{

  background-color: #0000ff;
  color: white;
  height: 60px;
  border: 1px solid black;
  /* padding: 0px 0px 20px 0px; */
}
.head1{
  position: relative;
  left: 700px;
  display: inline;;
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
font-style: italic;
    color: #FFFFFF;
    text-shadow: -5px 5px 0px #00e6e6, -10px 10px 0px #01cccc, -15px 15px 0px #00bdbd;
    color: #FFFFFF;
 
}
.head1:hover{

color: black;

}


/* .child1 {

} */

ul {
  list-style-type: none;
}
li {
  display: inline;
}

.a1 {
  animation-delay: 1s;
  animation-name: a1;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes a1 {
  0% {
    color: white;
  }
  25% {
    color: red;
  }
  50% {
    color: red;
  }
}

.a2 {
  animation-name: a2;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}
@keyframes a2 {
  0% {
    color: white;
  }
  25% {
    color: #009eff;
  }
  50% {
    color: #009eff;
  }
}

.a3 {
  animation-name: a3;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}
@keyframes a3 {
  0% {
    color: white;
  }
  25% {
    color: orange;
  }
  50% {
    color: orange;
  }
}

.a4 {
  animation-name: a4;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}
@keyframes a4 {
  0% {
    color: white;
  }
  25% {
    color: yellow;
  }
  50% {
    color: yellow;
}
}


.a5 {
  animation-name: a5;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}
@keyframes a5 {
  0% {
    color: white;
  }
  25% {
    color: black;
  }
  50% {
    color: black;
  }
}




/* .main {
   width: 17px; 

} */

.child0 {
  float: right;
  margin: 17px 15px 0px 0px;
}
.a1,
.a2,
.a3,
.a4,
.a5 {
  color: white;
  text-decoration: none;
  font-size: 20px;
font-family: Georgia, 'Times New Roman', Times, serif;
}
.a2:hover {
  color: black;
  text-shadow: 1px 2px gray;
}

.a1:hover {
  color: black;
  text-shadow: 1px 2px gray;
}

.a3:hover {
  color: black;
  text-shadow: 1px 2px gray;
}

.a4:hover {
  color: black;
  text-shadow: 1px 2px gray;
}
.a5:hover {
  color: black;
  text-shadow: 1px 2px gray;
}

.a1:active {
  color: aqua;
}

.a2:active {
  color: aqua;
}
.a3:active {
  color: aqua;
}
.a4:active {
  color: aqua;
}
.a5:active {
  color: aqua;
}

.nkar1 {
  animation-iteration-count: infinite;
  animation-name: Nkar;
  animation-duration: 2s;
}
@keyframes Nkar {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateY(150deg);
  }
  100% {
    transform: rotateX(200deg);
  }
}

.nkar1 {
  float: left;
  height: 60x;
  width: 60px;
}

.img1 {
  margin: 50px 0 0 0;
  width: 100%;
  height: 300px;
}
.main2 {

  width: 1200px;
  margin: 90px auto;
  /* margin: 50px 50px;  */ 
  display: flex;
  box-sizing: border-box;
}

.nkar {
  margin: 0 0 0 30px;
}

.main3 {
  margin: 0px 0px 100px 0px;
  width: 515px;
  border: 2px solid gray;
  box-shadow: 2px 3px gray;
  display: inline-block;
  margin: 0px 100px 0 0;
}

.nkar2 {
  width: inherit;
  height: inherit;
}

.child2 {
  width: 166.6px;
  height: 150px;
  border: 1px solid gray;
  display: inline-block;
}
.child3 {
  width: 166.6px;
  height: 150px;
  margin: 0px 5px 0px 5px;
  display: inline-block;
  border: 1px solid gray;
}
.child4 {
  width: 166.6px;
  height: 150px;
  border: 1px solid gray;
  display: inline-block;
}
.parent {
  display: flex;
}
.wind7 {
  width: inherit;
  height: inherit;
}
.win10 {
  width: inherit;
  height: inherit;
}
.winxp {
  width: inherit;
  height: inherit;
}
.main4 {
  width: 800px;
}

h1 {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 1px 2px black;
}
hr {
  width: 95%;
  color: blue;
  height: 2px;
  margin: 25px 0px;
}

.nkar2 {
  border-radius: 30px 30px 0 0;
}
.main3 {
  border-radius: 30px 30px 0 0;
}

p {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  text-shadow: 1px 1px #213955;
}
.ckick0 {
  margin: 50px 0px 0px 0px;
  font-size: 30px;

  padding: 5px;
  background-color: red;
  color: white;
  font-style: italic;
  animation-name: anim1;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.chi1,
.chi2,
.chi3 {
  border-radius: inherit;
  width: inherit;
  height: inherit;
}
.chi1:hover{
border: 2px solid black;
}
.chi2:hover{
  border: 2px solid black;
  }
  .chi3:hover{
    border: 2px solid black;
    }
    

.child2 {
  border-radius: 0px 0px 0px 50px;
}
.child4 {
  border-radius: 0px 0px 50px 0px;
}


.main3 {
  border-radius: 30px 30px 50px 50px;
}
@keyframes anim1 {
  0% {
    border-radius: 0 0 0 0;
    background: white;
  }
  25% {
    border-radius: 20px 0 0 0;
    background: red;
  }
  50% {
    border-radius: 20px 20px 0 0;
    background: blue;
  }
  75% {
    border-radius: 20px 20px 20px 0;
    background: orange;
  }
  100% {
    border-radius: 20px 20px 20px 20px;
    background: red;
  }
}
.btn {
  margin: 50px 0px 0px 0px;
  font-size: 30px;
  border-radius: 20px;
  padding: 5px;
  background-color: #0c1890;
  color: white;
  text-decoration: none;
  /* display: inline; */
  float: right;
  position: relative;
  animation-name: btn;
  animation-duration: 10s;
  animation-fill-mode: forwards;
  transition-duration: 2s;
  transition-delay: 2s;
}

@keyframes btn {
  0% {
    border-radius: 0 0 0 0;
    background: white;
    right: 0px;
  }
  25% {
    border-radius: 20px 0 0 0;
    right: 200px;
    transform: rotateY(720deg);
  }
  50% {
    border-radius: 20px 20px 0 0;
    right: 200px;
    transform: rotateY(720deg);
  }
  75% {
    border-radius: 20px 20px 20px 0;
    right: 200px;
    transform: rotateY(720deg);
  }
  100% {
    border-radius: 20px 20px 20px 20px;
    right: 200px;
    transform: rotateY(720deg);
  }
}

.btn:hover {
  color: #213955;
}

.btn:active {
  text-shadow: 1px 2px gray;
}


.s1{
  font-size: 20px;
color: black;
}







.main5 {
  border: 1px solid black;
  /* width: 1920px; */
  height: 40px;
  background-color: #0000ff;
  display: flex;
  position: absolute;
  bottom: 0;
  width: 99.9%;
}
.you1 {
  margin: 8px 0 0 0;
}
.you2 {
  align-self: center;
  color: green;
  margin: 4px 0px 0 30px;
  position: relative;
  left: 80%;
}

.face,
.inst,
.twit,
.you {
  height: 30px;
}




